# Archivos ignorados para mejorar rendimiento de VS Code
.git
.gitignore
node_modules
.next
dist
build
.pnpm-store
.swc
.cache
*.tsbuildinfo
pnpm-lock.yaml
playwright-report
test-results
coverage
.DS_Store
*.log
*.env
*.env.local
docs/archive
